@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello Class!</h1>
    <p>Learn about what's next ... <a href="https://learn.microsoft.com/aspnet/core">Re-building Web apps with ASP.NET Core</a>.</p>
</div>
